@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?on34u');
	src:url('../fonts/icomoon.eot?#iefixon34u') format('embedded-opentype'),
		url('../fonts/icomoon.woff?on34u') format('woff'),
		url('../fonts/icomoon.ttf?on34u') format('truetype'),
		url('../fonts/icomoon.svg?on34u#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
	content: "\e60d";
}
.icon-phone-hang-up:before {
	content: "\e60a";
}
.icon-envelope:before {
	content: "\e600";
}
.icon-location:before {
	content: "\e60b";
}
.icon-location2:before {
	content: "\e60c";
}
.icon-cog:before {
	content: "\e601";
}
.icon-menu:before {
	content: "\e602";
}
.icon-mail:before {
	content: "\e603";
}
.icon-googleplus:before {
	content: "\e604";
}
.icon-googleplus2:before {
	content: "\e605";
}
.icon-facebook:before {
	content: "\e606";
}
.icon-facebook2:before {
	content: "\e607";
}
.icon-twitter:before {
	content: "\e608";
}
.icon-twitter2:before {
	content: "\e609";
}
.icon-list:before {
	content: "\e60e";
}
/*.icon-list
{
    color: #80c0ff !important;
}*/
